.single_product {
    background: rgb(255, 255, 255);
    border-radius: 10px;
    cursor: pointer;

border: none;
    /* box-sizing: border-box; */
    animation: animate 1s ease-in;
    /* box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px; */
    /* box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px; */

}



.single_product:hover {
    box-shadow: #6a6868;
}

.product_content {
    padding: 0px 20px;
    padding-bottom: 15px;
}

.product_content h6 {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    padding-top: 5px;
}

.rating {
    margin-bottom: 16px;
}

.rating span i {
    color: #f76e11;
    padding-top: 5px;
}

/* @font-face {
    font-family: "molgak";
    src: url(/public/fonts/MolgakClassy/MolgakClassy-Regular.ttf);
} */


.price {
    color: rgb(14, 0, 0);
    padding-top: 5px;
    font-size: 1.5rem;
    font-weight:bold;
    /* font-family: 'Zen Dots', cursive; */
    font-family: 'Berkshire Swash', cursive;


}

.price span {
    color: #f76e11;
    font-size: 1.2rem;
font-weight: bold;
    font-family: 'Berkshire Swash', cursive;
    /* font-family: 'Zen Dots', cursive; */
    /* font-family: 'Proza Libre', sans-serif; */
    /* font-family: 'Anton', sans-serif; */
    /* font-family: 'Rubik Spray Paint', cursive; */
}

.shopping_icon {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background: #f76e11;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-top: 5px;
}

@keyframes animate {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@media only screen and (max-width: 767px) {

    .product_content h6 {
        font-size: 0.6rem;
        font-weight: bolder;
    }

    .price {
        font-size: 0.8rem;
    }

    .price span {
        font-size: 0.8rem;
    }
}