.single_product {
    background: #ffffff;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px #f5b70a;
}

.single_product:hover {
    box-shadow: 5px 5px 10px -5px #f5b70a;
}
.product_content{
    padding:0px 20px;
    padding-bottom: 15px;
}
.product_content h6{
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    padding-top: 5px;
}
.rating{
    margin-bottom: 16px;
}
.rating span i{
    color: #f76e11;
    padding-top: 5px;
}
.price{
    color: black;
    padding-top: 5px;
}
.price span{
    color: #f5b70a;
    font-size: 1.3rem;
    font-weight: 500;
}
.shopping_icon{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background: #f76e11;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-top: 5px;
}